<%= form_with(model: job, local: true) do |form| %>
  <% if job.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(job.errors.count, "error") %> prohibited this job from being saved:</h2>

      <ul>
      <% job.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :vehicle %>
    <%= form.text_field :vehicle, id: :job_vehicle %>
  </div>

  <div class="field">
    <%= form.label :start_date %>
    <%= form.datetime_select :start_date, id: :job_start_date %>
  </div>

  <div class="field">
    <%= form.label :end_date %>
    <%= form.datetime_select :end_date, id: :job_end_date %>
  </div>

  <div class="field">
    <%= form.label :customer %>
    <%= form.text_field :customer, id: :job_customer %>
  </div>

  <div class="field">
    <%= form.label :status %>
    <%= form.select :status, options_for_select([t('status.waiting_confirmation'), t('status.confirmed'), t('status.canceled')]) %>
  </div>

  <div class="field">
    <%= form.label :price %>
    <%= form.text_field :price, id: :job_price %>
  </div>

  <div class="field">
    <%= form.label :responsible %>
    <%= form.text_field :responsible, id: :job_responsible %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
