<br>

<table class="table">
  <thead>
    <tr>
      <th scope="col">Vehicle</th>
      <th scope="col">Start date</th>
      <th scope="col">End date</th>
      <th scope="col">Customer</th>
      <th scope="col">Status</th>
      <th scope="col">Price</th>
      <th scope="col">Responsible</th>
      <th scope="col"></th>
      <th scope="col"></th>
      <th scope="col"></th>
    </tr>
  </thead>

  <tbody>
    <% @jobs.each do |job| %>
      <tr>
        <th scope="row"><%= job.vehicle %></td>
        <td><%= job.start_date %></td>
        <td><%= job.end_date %></td>
        <td><%= job.customer %></td>
        <td><%= job.status %></td>
        <td><%= job.price %></td>
        <td><%= job.responsible %></td>
        <td><%= link_to 'Show', job %></td>
        <td><%= link_to 'Edit', edit_job_path(job) %></td>
        <td><%= link_to 'Destroy', job, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= link_to 'New Job', new_job_path %>
